# Ignore everything by default
*

# Allow only what's needed for the build
!go.mod
!go.sum
!main.go
!config/
!notify/
!db/
!web/

# Ignore build artifacts, tests, CI, and dev files
.git/
.github/
.vscode/
/build/
/bin/
*.test
*.exe
*.out
*.log
*.db
*.http
*.sample
*.md
screenshot-*.png
lefthook.yml
config.yaml
config.yaml.sample
